mixin about()
    section.about#About 
        .container 
            .about-left 
                .swiper.aboutSwiper
                    .swiper-wrapper
                        .swiper-slide 
                            img(src="@img/about-1.png", alt="", draggable="false")
                        .swiper-slide 
                            img(src="@img/about-2.png", alt="", draggable="false")
                        .swiper-slide 
                            img(src="@img/about-3.png", alt="", draggable="false")
                    .swiper-pagination
            .about-right
                h3.about-subtitle The future of living
                h2.about-title A-01 Saadiyat
                p.about-p Refuge of luxury within Saadiyat Island offers premium collection of studios, 1, 2, and 2-bedroom+maid type apartments, surrounded by open green areas and social amenities.
                button.about-btn.popup-brochure-open Learn More
            button.about-btn__mob.popup-brochure-open Learn More
