mixin developer()
    section.developer#Developer 
        .container
            h2.developer-title.developer-text.mobile <span>Reliable</span> Developer 
            .developer-left 
                //- h3.developer-subtitle.developer-text Established in 2010 
                h2.developer-title.developer-text.desctop Reliable Developer 
                h4.developer-subtitle-item AQUA Properties
                p.developer-p.developer-text Leading world known estate developer based in Abu Dhabi, creating sustainable, future-ready built environments. The partner of choice for the UAE’s most ambitious innovative projects.
                button.developer-btn Enquire 
                ul.developer-list 
                    li.developer-item
                        span.developer-item__title $10.9 bln
                        span.developer-item__text Market cap
                    li.developer-item
                        span.developer-item__title $7.7 bln
                        span.developer-item__text Revenue
                    li.developer-item
                        span.developer-item__title $1 bln
                        span.developer-item__text Net profit
                    li.developer-item
                        span.developer-item__title 81 600+
                        span.developer-item__text  Residential units
            .developer-right
                img(src="@img/developer.png", alt="", draggable="false")