mixin footer()
    footer.footer 
        .container
            ul.footer-nav
                li
                    a(href="#") Home
                li
                    a(href="#About") About
                li
                    a(href="#Brochure") Brochure
                li
                    a(href="#Location") Location
                li
                    a(href="#Developer") Developer 
                li
                    a(href="#Consultation") Consultation 
            a(href="#", data-gtag-click="phone_call").footer-number.show-number.phone-replace-only <span>+971 56  xxx-xx-xx</span> Show number
            ul.footer-social 
                li
                    a(href="https://t.me/Sales_office_en_bot", data-gtag-click="telegram", aria-label="telegram", target="_blank").telegram
                        <svg width="41" height="35" viewBox="0 0 41 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.9737 15.1043C13.9057 10.3414 21.1954 7.20145 24.8429 5.68436C35.257 1.35275 37.421 0.600306 38.8314 0.57546C39.1416 0.569996 39.8353 0.646876 40.2846 1.01145C40.6639 1.31929 40.7683 1.73513 40.8183 2.02699C40.8682 2.31886 40.9304 2.98373 40.881 3.50325C40.3166 9.43288 37.8747 23.8225 36.6324 30.4638C36.1067 33.274 35.0717 34.2163 34.0696 34.3085C31.8919 34.5089 30.2383 32.8693 28.1291 31.4867C24.8286 29.3232 22.964 27.9764 19.7603 25.8652C16.0579 23.4254 18.458 22.0844 20.568 19.8928C21.1202 19.3193 30.7152 10.5919 30.9009 9.80022C30.9241 9.7012 30.9457 9.33212 30.7264 9.13723C30.5072 8.94233 30.1835 9.00898 29.95 9.06198C29.619 9.13711 24.3464 12.6221 14.1323 19.5169C12.6357 20.5446 11.2801 21.0453 10.0656 21.0191C8.72662 20.9901 6.15103 20.262 4.23634 19.6396C1.8879 18.8762 0.0214086 18.4726 0.183938 17.1762C0.268594 16.5009 1.19852 15.8103 2.9737 15.1043Z" fill="white"/>
                        </svg>
                li
                    a.event_wp(href="#", data-gtag-click="whatsapp", aria-label="whatsapp", target="_blank").whatsapp
                        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.5034 32.4361C38.8354 32.1018 35.5512 30.4862 34.9388 30.2634C34.3265 30.0406 33.8813 29.9292 33.4359 30.5977C32.9906 31.2662 31.7104 32.7703 31.3207 33.2161C30.9311 33.6617 30.5414 33.7175 29.8734 33.3831C29.2054 33.049 27.0531 32.3438 24.5016 30.0686C22.5158 28.298 21.1751 26.111 20.7854 25.4425C20.3958 24.774 20.7439 24.4126 21.0784 24.0796C21.3788 23.7805 21.7463 23.2998 22.0803 22.9098C22.4143 22.5198 22.5257 22.2412 22.7483 21.7956C22.971 21.3499 22.8597 20.9599 22.6926 20.6257C22.5257 20.2914 21.1898 17.0045 20.6331 15.6674C20.0909 14.3653 19.5402 14.5415 19.1301 14.5211C18.7409 14.5017 18.2952 14.4976 17.8498 14.4976C17.4045 14.4976 16.6809 14.6648 16.0685 15.3332C15.4562 16.0017 13.7305 17.6174 13.7305 20.9042C13.7305 24.1911 16.1242 27.3665 16.4582 27.8123C16.7922 28.258 21.1686 35.0031 27.8695 37.8956C29.4633 38.5837 30.7076 38.9945 31.6777 39.3024C33.278 39.8106 34.7342 39.7389 35.8852 39.567C37.1685 39.3752 39.8374 37.9514 40.3941 36.3915C40.9506 34.8317 40.9506 33.4946 40.7837 33.2161C40.6167 32.9375 40.1714 32.7703 39.5034 32.4361ZM27.3155 49.0733H27.3065C23.3192 49.0717 19.4085 48.001 15.9969 45.9771L15.1854 45.4955L6.77542 47.701L9.02024 39.5039L8.49181 38.6636C6.26754 35.1268 5.0928 31.039 5.09447 26.8417C5.09935 14.594 15.0675 4.6297 27.3244 4.6297C33.2594 4.63201 38.8385 6.94565 43.0338 11.1443C47.2291 15.3431 49.5383 20.9242 49.536 26.8597C49.531 39.1083 39.5629 49.0733 27.3155 49.0733ZM46.2254 7.95363C41.1779 2.90192 34.4654 0.11853 27.3137 0.115704C12.5781 0.115704 0.5851 12.1041 0.579193 26.8398C0.577266 31.5502 1.80825 36.1482 4.14771 40.201L0.35498 54.0503L14.5273 50.334C18.4322 52.4631 22.8286 53.585 27.3031 53.587H27.314H27.3141C42.0483 53.587 54.0424 41.597 54.0484 26.8612C54.0511 19.72 51.273 13.0052 46.2254 7.95363Z" fill="white"/>
                        </svg>

            