mixin header()
    header.header
        .header-mob 
            ul 
                li 
                    a(href="#").header-btn.active 
                        p Home
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.4" d="M19.04 4.82006L13.28 0.79006C11.71 -0.30994 9.29999 -0.24994 7.78999 0.92006L2.77999 4.83006C1.77999 5.61006 0.98999 7.21006 0.98999 8.47006V15.3701C0.98999 17.9201 3.05999 20.0001 5.60999 20.0001H16.39C18.94 20.0001 21.01 17.9301 21.01 15.3801V8.60006C21.01 7.25006 20.14 5.59006 19.04 4.82006Z" fill="#2B3845">
                        </svg>
                li 
                    a(href="#Brochure").header-btn 
                        p Brochure
                        <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 5L2.35112 4.00667C1.69737 3.76151 1 4.24479 1 4.943V16.7749C1 17.1793 1.24362 17.5439 1.61727 17.6987L11.6173 21.8414C11.8623 21.943 12.1377 21.943 12.3827 21.8414L22.3827 17.6987C22.7564 17.5439 23 17.1793 23 16.7749V4.61804C23 3.87465 22.2177 3.39116 21.5528 3.72361L19 5M11.95 4V18M19 14.3406V2.51654C19 1.79862 18.2659 1.31459 17.6061 1.59739L12.3939 3.83118C12.1424 3.93898 11.8576 3.93898 11.6061 3.83118L6.39392 1.59739C5.73405 1.31459 5 1.79862 5 2.51654V14.3406C5 14.7406 5.2384 15.1022 5.60608 15.2597L11.6061 17.8312C11.8576 17.939 12.1424 17.939 12.3939 17.8312L18.3939 15.2597C18.7616 15.1022 19 14.7406 19 14.3406Z" stroke="#74787F" stroke-width="1.1"/>
                        </svg>
                li 
                    a(href="#Location").header-btn 
                        p Location
                        <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.5005 8.75038C12.5005 9.74494 12.1054 10.6988 11.4021 11.402C10.6989 12.1053 9.74506 12.5004 8.75051 12.5004C7.75595 12.5004 6.80212 12.1053 6.09887 11.402C5.39561 10.6988 5.00052 9.74494 5.00052 8.75038C5.00052 7.75582 5.39561 6.802 6.09887 6.09874C6.80212 5.39548 7.75595 5.0004 8.75051 5.0004C9.74506 5.0004 10.6989 5.39548 11.4021 6.09874C12.1054 6.802 12.5005 7.75582 12.5005 8.75038ZM11.2505 8.75038C11.2505 8.08734 10.9871 7.45146 10.5183 6.98262C10.0494 6.51378 9.41354 6.25039 8.75051 6.25039C8.08747 6.25039 7.45159 6.51378 6.98275 6.98262C6.51391 7.45146 6.25052 8.08734 6.25052 8.75038C6.25052 9.41342 6.51391 10.0493 6.98275 10.5181C7.45159 10.987 8.08747 11.2504 8.75051 11.2504C9.41354 11.2504 10.0494 10.987 10.5183 10.5181C10.9871 10.0493 11.2505 9.41342 11.2505 8.75038ZM14.938 14.9441C16.5791 13.3021 17.501 11.0756 17.501 8.75413C17.501 6.43262 16.5791 4.20613 14.938 2.56416C14.1256 1.75126 13.1611 1.10639 12.0994 0.666425C11.0377 0.226455 9.89973 0 8.75051 0C7.60128 0 6.46331 0.226455 5.40164 0.666425C4.33996 1.10639 3.37539 1.75126 2.56303 2.56416C0.921905 4.20613 0 6.43262 0 8.75413C0 11.0756 0.921905 13.3021 2.56303 14.9441L4.46427 16.8178L7.01801 19.2991L7.18426 19.4466C8.15301 20.2316 9.57175 20.1816 10.4842 19.2991L13.528 16.3366L14.938 14.9441ZM3.44428 3.4454C4.14099 2.74838 4.9682 2.19545 5.87866 1.81821C6.78912 1.44097 7.76499 1.2468 8.75051 1.2468C9.73602 1.2468 10.7119 1.44097 11.6223 1.81821C12.5328 2.19545 13.36 2.74838 14.0567 3.4454C15.4251 4.81471 16.2119 6.65954 16.2529 8.59495C16.2939 10.5304 15.5859 12.4068 14.2767 13.8329L14.0567 14.0629L12.4055 15.6929L9.618 18.4028L9.5005 18.5028C9.28438 18.6657 9.02112 18.7538 8.75051 18.7538C8.47989 18.7538 8.21663 18.6657 8.00051 18.5028L7.88426 18.4028L4.15928 14.7716L3.44428 14.0629L3.22428 13.8341C1.91509 12.4081 1.20714 10.5316 1.24813 8.5962C1.28912 6.66079 2.07589 4.81471 3.44428 3.4454Z" fill="#74787F"/>
                        </svg>
                li 
                    a(href="#Developer").header-btn 
                        p Developer
                        <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.803711 21.5H1.20567M1.20567 21.5V5.57915C1.20567 5.24284 1.41501 4.94208 1.73038 4.82527L10.9755 1.40116C11.5005 1.20669 12.0586 1.59512 12.0586 2.15504V9.44118M1.20567 21.5H12.0586M12.0586 21.5H18.8919V11.6857C18.8919 11.3127 18.6353 10.9886 18.2722 10.9032L12.0586 9.44118M12.0586 21.5V9.44118" stroke="#74787F" stroke-width="1.3" stroke-linejoin="round"/>
                        </svg>

        .container
            a(href="#", aria-label="logo").header-logo 
                <svg width="179" height="29" viewBox="0 0 179 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M178.501 15.229H106.936V28.2352H178.501V15.229Z" fill="black"/>
                    <path d="M12.2814 17.6915L15.1785 9.56037C15.419 8.87469 15.6631 8.19261 15.9036 6.70279C16.1441 8.19261 16.3882 8.87828 16.6288 9.56037L19.5258 17.6915H12.2778H12.2814ZM11.8793 -0.0246582L0.808105 28.156H8.45817L10.07 23.7261H21.7443L23.3563 28.156H31.0062L19.935 -0.0246582H11.8829H11.8793Z" fill="black"/>
                    <path d="M49.0777 15.6379H32.4493V21.2742H49.0777V15.6379Z" fill="black"/>
                    <path d="M65.4226 22.3227C64.6221 22.3227 63.9185 22.1934 63.3081 21.935L70.5096 11.9981C70.6065 12.7448 70.6567 13.5669 70.6567 14.4716C70.6567 19.7452 69.0054 22.3227 65.4226 22.3227ZM60.1886 14.4716C60.1886 9.19802 61.84 6.62047 65.4226 6.62047C66.191 6.62047 66.8694 6.73894 67.4653 6.97946L60.3249 16.8373C60.2352 16.1193 60.1922 15.3332 60.1922 14.4716M65.4263 0.180176C56.4875 0.180176 52.7432 6.66356 52.7432 14.4716C52.7432 22.2796 56.4875 28.763 65.4263 28.763C74.3652 28.763 78.1093 22.2796 78.1093 14.4716C78.1093 6.66356 74.3652 0.180176 65.4263 0.180176Z" fill="black"/>
                    <path d="M93.7649 0.783203H88.3297L81.6848 3.31767V9.96256L86.5168 8.14967V21.9206H81.6848V28.1598H98.0297V21.9206H93.7649V0.783203Z" fill="black"/>
                    <path d="M111.316 0.722168C112.547 0.722168 113.778 1.02013 114.64 1.51553V3.92075C113.789 3.28535 112.673 2.97303 111.528 2.98738C110.565 3.00174 110.268 3.25664 110.268 3.6228C110.268 4.91157 115.419 4.5131 115.419 8.02402C115.419 10.3718 113.621 11.0539 111.456 11.0539C110.027 11.0539 108.695 10.7272 107.651 10.1492V7.67221C108.824 8.47993 110.128 8.78867 111.258 8.78867C112.292 8.78867 112.73 8.61994 112.73 8.12453C112.73 6.69575 107.579 7.1768 107.579 3.63716C107.579 1.65554 109.277 0.722168 111.316 0.722168Z" fill="black"/>
                    <path d="M119.537 7.16233H122.086L121.066 4.30477C120.98 4.06425 120.897 3.82372 120.811 3.29957C120.725 3.82372 120.643 4.06425 120.556 4.30477L119.537 7.16233ZM115.505 10.842L119.397 0.933838H122.229L126.121 10.842H123.432L122.865 9.28396H118.761L118.194 10.842H115.505Z" fill="black"/>
                    <path d="M130.177 7.16233H132.726L131.706 4.30477C131.62 4.06425 131.538 3.82372 131.452 3.29957C131.365 3.82372 131.283 4.06425 131.197 4.30477L130.177 7.16233ZM126.146 10.842L130.037 0.933838H132.866L136.758 10.842H134.069L133.501 9.28396H129.398L128.831 10.842H126.142H126.146Z" fill="black"/>
                    <path d="M141.654 3.19907H140.322V8.57675H141.654C143.226 8.57675 144.145 7.74389 144.145 5.88792C144.145 4.03193 143.226 3.19907 141.654 3.19907ZM141.654 0.933838C145.19 0.933838 146.834 3.00162 146.834 5.88792C146.834 8.77419 145.194 10.842 141.654 10.842H137.705V0.933838H141.654Z" fill="black"/>
                    <path d="M150.848 0.933838H148.231V10.842H150.848V0.933838Z" fill="black"/>
                    <path d="M155.633 10.842V7.4603L151.77 0.933838H154.743L156.936 5.02634L159.13 0.933838H162.098L158.236 7.4603V10.842H155.633Z" fill="black"/>
                    <path d="M164.715 7.16233H167.264L166.245 4.30477C166.159 4.06425 166.076 3.82372 165.99 3.29957C165.904 3.82372 165.821 4.06425 165.735 4.30477L164.715 7.16233ZM160.684 10.842L164.576 0.933838H167.404L171.296 10.842H168.607L168.04 9.28396H163.937L163.369 10.842H160.68H160.684Z" fill="black"/>
                    <path d="M178.515 0.933838V3.27086H175.726V10.842H173.109V3.27086H170.305V0.933838H178.515Z" fill="black"/>
                </svg>
            ul 
                li
                    a(href="#") Home
                li
                    a(href="#About") About
                li
                    a(href="#Brochure") Brochure
                li
                    a(href="#Location") Location
                li
                    a(href="#Developer") Developer 
                li
                    a(href="#Consultation") Consultation
            
            a(href="#", data-gtag-click="phone_call").header-number.show-number.phone-replace-only +998 90 999 99 99