mixin intro()
    section.intro 
        .container
            .intro-inner
                img(src="@img/intro.png", alt="", draggable="false")
                .intro-left 
                    h1.intro-title.intro-text SET THE STANDARDS WITH A-01 BY ALDAR
                    ul.intro-btns
                        li 
                            button(type="button").popup-consultation-open Learn more
                        li 
                            button(type="button").popup-brochure-open Download brochure